<%= div_for(feed_entry) do %>
  <div class="title"><%= link_to feed_entry.title, feed_entry.url, :target => "_blank" %></div>
  <div class="subtitle">
    <%= link_to feed_entry do %>
      <%= image_tag("icons/comments.png", :alt => "Discusión sobre #{feed_entry.title}") %>
    <% end %>
    Publicado hace <%= time_ago_in_words(feed_entry.published_at) %> en <%= link_to feed_entry.site.title, feed_entry.site %></div>
  <%= textilize(feed_entry.truncated_summary).html_safe %>
  <div class="clear"></div>
  <% if admin? %>
    <div>
      <%= link_to "Editar", edit_feed_entry_path(feed_entry) %> |
      <%= link_to "Suprimir", feed_entry_path(feed_entry), :method => :delete, :confirm => "¿Estás seguro?" %>
    </div>
  <% end %>
<% end %>