<% title @tag.name.capitalize %>
<% meta_description "Sitios de guitarra en la categoria '#{@tag.name.capitalize}'." %>

<h3>Sitios de guitarra en la categoría <span class="tag"><%= link_to @tag.name, @tag %></span></h3>


<% @sites.each_with_index do |site, i| %>
  <%= render :layout => site do %>
      <%= textilize(site.review).html_safe %>
  <% end %>
  
    <% if i < 3 %>
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-4711309222734567";
      /* Leaderboard (728 x 90) */
      google_ad_slot = "7424772588";
      google_ad_width = 728;
      google_ad_height = 90;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    <% end %>
  
<% end %>

<%= render :partial => "sites/pagination" %>

<% if admin? %>
  <p>
    <%= link_to "Editar", edit_tag_path(@tag) %> |
    <%= link_to "Suprimir", @tag, :confirm => '¿Estás seguro?', :method => :delete %>
  </p>
<% end %>

  <%= link_to '← Todos los sitios', sites_path %>
</p>
