<% title "Directorio de sitios de guitarra#{params[:page] ? " - Página #{params[:page]}" : ""}" %>
<% meta_description "Directorio de sitios de guitarra en español y artículos para aprender a tocar guitarra." %>

<% if @sites.current_page == 1 %>
  <% content_for(:head) { "<link rel='canonical' href='#{root_url}' />".html_safe } %>
<% end %>

<p>
  <%= link_to "SitiosDeGuitarra.com", root_path %> es un directorio que recoge y califica sitios web dedicados a la guitarra. El directorio incluye sitios tanto de guitarra acústica como eléctrica y temas como ejercicios para ganar velocidad, acordes, tablaturas y cursos completos de este maravilloso instrumento musical.
</p>

<%= render :layout => @sites.first do %>
  <%= textilize(@sites.first.review, link_to("Leer más sobre #{@sites.first.title}...", @sites.first)).html_safe %>
<% end %>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-4711309222734567";
/* Leaderboard (728 x 90) */
google_ad_slot = "7424772588";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

<% for site in @sites[1..-1] %>
  <%= render :layout => site do %>
    <%= textilize(site.review, link_to("Leer más sobre #{site.title}...", site)).html_safe %>
  <% end %>
<% end %>

<%= render :partial => "pagination" %>

<% if admin? %>
  <p><%= link_to "Nuevo Sito", new_site_path %></p>
<% end %>
