<% title @site.title %>

<%= render :layout => @site do %>
    <%= @site.review.html_safe %>
<% end %>

<% if admin? %>
  <p>
    <%= link_to "Editar", edit_site_path(@site) %> |
    <%= link_to "Suprimir", @site, :confirm => '¿Estás seguro?', :method => :delete %>
  </p>
<% end %>
  <%= link_to '← Todos los sitios', sites_path %>
</p>
